.loading-bar {
  background-color: #007bff;
  height: 3px;
  position: absolute;
  z-index: 1;
}

.main {
  padding: 10px;
}

.avatar {
  height: 40px;
  border-radius: 25px;
  margin: 0 10px;
}

.navbar-nav .nav-link {
  line-height: 40px;
}

.leader-board td {
  line-height: 44px;
}